h1 {
  background-color: rgb(168, 5, 14);
  padding: 25px;
  color: white;
  font-size: 2.5em;
}

h2 {
  background-color: rgb(51, 51, 51);
  padding: 25px;
}

ul {
  float: right;
}

li {
  display: inline;
  text-decoration: underline;
  color: white;
  padding: 8px
}

#login {
  float: right;
  font-size: 20px;
  text-decoration: underline;
  padding: 10px;
}